# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Kafka / Docker
data/
*.log
.continue/

/target/
/tmp/
*.class
.continue/


# Игнорируем результаты сборки Java
kafka-replica-service/target/
target/
*.class

# Игнорируем временные файлы VS Code и Continue
.continue/
.vscode/
